body {

  font-family: 'Josefin Sans', sans-serif;
  color: black;
}

.container{
  background-color:lavender;
}


.separator {
  width: 30%;
}

ul{
  list-style-type:circle ;
  list-style-position: inside;
}

.horizontal-list ul{
  list-style: none;
}
.horizontal-list li{
  display: inline;
}

.align-center{
  position:relative;
  left:300px;
}

#cv-template{
  width:794px;
  padding:10px 20px 10px 130px;
}

#settingsbtn{
  color:black;
}
#printbtn{
   color:black;
}
#toggle{
   position:relative;
   font-size: 1.5rem; 
   color:white;
   background-color:white;
   border-color:white;
   border-radius:50px;
}
#toggle-div{
   text-align: left;
}
  
select{
  padding:3px;
  border:3px solid white;
  background: transparent;
  appearance: none;
  font-size: 12px;
  color: black;
  border:1px solid black;
}
#style-section{
    background-color:white;
    color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border:1px solid black;
    padding:30px;
    box-shadow: 10px 10px 5px #ccc;
    width:600px;
    font-size:12px;
}
#apply-btn{
    color:black;      
    background-color: white;
    position: absolute;
    text-align: center;
}
.myimg{   
  border-radius: 50%;
  width:180px;
  height:180px;
  
}

a{
  font-size:13px;
}

#dashboard-heading{
  font-family:'Poppins', sans-serif;
  font-weight:bold;
}

#about_box{
  display:none;
}
