<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
    <link rel="stylesheet" href="static/auth.css">
</head>
<body>
    <h1>Resume Generator</h1>

    <img src="static/skins/logoo.png" alt="This is the logo">
    <div id="infields">
    <form method="POST" action="/registered">
        <table class= semiContainer>
            <tr><td>Enter Name</td><td><input type="text" name="nameField" id = "nameField"></td></tr>
            <tr><td>Enter Email</td><td><input type="text" name="emailField" id = "emailField"></td></tr>
            <tr><td>Enter Password</td><td><input type="password" name="pwdField" id = "pwdField"></td></tr>
            <tr><td>Re-Enter Password</td><td><input type="password" name="repwdField" id = "repwdField"></td></tr>
        </table>
    </div>
        <br>
    <button type="submit" name="btn" id="loginBtn" value="loginBtn" class="btn">REGISTER</button>  <br>  
    </form>
</body>
</html>
