{% extends "sidebar.html" %}



<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<link rel="stylesheet" href="static/temp3.css">
</head>

<body>
	{% block content %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<link rel="stylesheet" href="static/temp3.css">

 <!--JSS and html for advanced options button-->
 <script>
	$(document).ready(function() {
	   $("#style-section").hide();
   
	   $("#toggle").click(function(){
		  $("#style-section").toggle( 'slow', function(){
			 $(".log").text('Toggle Transition Complete');
		  });
	   });
	});
   </script>

<!--JSS for style-section-->
<script>
    function op(){
	var fontFamilyHeading = document.getElementById("fontFamilyHeading").value;
    var elements = document.getElementsByName('heading'); // get all elements
	for(var i = 0; i < elements.length; i++){
		elements[i].style.fontFamily = fontFamilyHeading;
	}

    //change later
    var fontFamilyBody = document.getElementById("fontFamilyBody").value;
    document.getElementById('cv-template').style.fontFamily = fontFamilyBody;


	var fontColorHeading = document.getElementById("fontColorHeading").value;
    var elements = document.getElementsByName('heading'); // get all elements
	for(var i = 0; i < elements.length; i++){
		elements[i].style.color = fontColorHeading;
	}

  /*
  var fontColorHeaderName = document.getElementById("fontColorHeaderName").value;
  document.getElementsById('nameT1').style.fontColor = fontColorHeaderName; // get all elements
 
 
  var fontColorHeaderContact = document.getElementById("fontColorHeaderContact").value;
  document.getElementsById('contact-details').style.fontColor = fontColorHeaderContact; // get all elements
   */

    //change later
    var fontColorBody = document.getElementById("fontColorBody").value;
    document.getElementById('cv-template').style.color = fontColorBody;


	var backgroundColor = document.getElementById("backgroundColor").value;
    document.getElementById('cv-template').style.backgroundColor = backgroundColor;
}
 </script>

 <!--JSS for Print-->
<script type="text/javascript">

  function printdiv(elem)
  {
    preview($('<div/>').append($(elem).clone()).html());
  }
  function preview(data) 
  { 
      var mywindow;       
      mywindow = window.open('', 'mydiv','height=1000,width=794,scrollbars=yes','');            
      mywindow.document.write('<html><head><title>Resume</title>');            
      mywindow.document.write('<link rel="stylesheet" href="static/temp3.css" type="text/css"/>');
      mywindow.document.write(' <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">')
      mywindow.document.write('</head><body >');
      mywindow.document.write(data);
      mywindow.document.write('</body></html>');             
      setTimeout(function(){mywindow.print();},1000);    
      return true;
  }

</script>

<!--HTML for settings and print buttons-->
<div id="toggle-div">
  <button id = "toggle">
      <ion-icon name="settings-outline" id="settingsbtn">settings</ion-icon>
  </button>
  
  <button id="toggle" onclick="printdiv('#cv-template')"><ion-icon name="print-outline" id="printbtn">print</ion-icon></button>
  </div>

 <!--HTML for style-section-->
<div id="style-section">
 <label for="fontFamilyHeading">Heading Font Family</label>
 <select name="fontFamilyHeading" id="fontFamilyHeading">
    <option value="select">Select</option>
    <option value="papyrus">Papyrus</option>
    <option value="impact">Impact</option>
    <option value="copperplate">Copperplate</option>
     <option value="arial">Arial</option>
     <option value="verdanna">verdanna</option>
     <option value="helvetica">Helvetica</option>
     <option value="tahoma">Tahoma</option>
     <option value="trebuchetms">Trebuchet MS</option>
     <option value="timesnewroman">Times New Roman</option>
     <option value="georgia">Georgia</option>
     <option value="garamond">Garamond</option>
     <option value="couriernew">Courier New</option>
     <option value="brushscriptmt">Brush Script MT</option>
 </select> 

 <label for="fontFamilyBody">Body Font Family</label>
 <select name="fontFamilyBody" id="fontFamilyBody">
    <option value="select">Select</option>
    <option value="papyrus">Papyrus</option>
    <option value="impact">Impact</option>
    <option value="copperplate">Copperplate</option>
     <option value="arial">Arial</option>
     <option value="verdanna">verdanna</option>
     <option value="helvetica">Helvetica</option>
     <option value="tahoma">Tahoma</option>
     <option value="trebuchetms">Trebuchet MS</option>
     <option value="timesnewroman">Times New Roman</option>
     <option value="georgia">Georgia</option>
     <option value="garamond">Garamond</option>
     <option value="couriernew">Courier New</option>
     <option value="brushscriptmt">Brush Script MT</option>
 </select>

 <br><br>
 
 <label for="fontColorHeading">Heading Font Color</label>
 <select name="fontColorHeading" id="fontColorHeading">
    <option value="select">Select</option>
    <option value="blueviolet">Blue Violet</option>
    <option value="darkcyan">Dark Cyan</option>
    <option value="cadetblue">Cadet Blue</option>
    <option value="cyan">Cyan</option>
    <option value="darkblue">Dark Blue</option>
    <option value="darkorchid">Dark Orchid</option>
    <option value="mistyrose">Misty Rose</option>
    <option value="white">White</option>
    <option value="teal">Teal</option>
    <option value="turquoise">Turquoise</option>
    <option value="silver">Silver</option>
    <option value="springgreen">Spring Green</option>
    <option value="lightcoral">Light Coral</option>
    <option value="hotpink">Hot Pink</option>
    <option value="grey">Grey</option>
    <option value="biege">Biege</option>
    <option value="aquamarine">Aquamarine</option>
    <option value="azure">Azure</option>
    <option value="darkolivegreen">Dark Olive Green</option>
     <option value="red">Red</option>
     <option value="blue">Blue</option>
     <option value="brown">Brown</option>
     <option value="black">Black</option>
     <option value="green">Green</option>
     <option value="pink">Pink</option>
     <option value="yellow">Yellow</option>
     <option value="gold">Gold</option>
     <option value="sienna">Sienna</option>
     <option value="tan">Tan</option>
     <option value="tomato">Tomato</option>
 </select>


 <label for="fontColorBody">Body Font Color</label>
 <select name="fontColorBody" id="fontColorBody">
    <option value="select">Select</option>
    <option value="blueviolet">Blue Violet</option>
    <option value="darkcyan">Dark Cyan</option>
    <option value="cadetblue">Cadet Blue</option>
    <option value="cyan">Cyan</option>
    <option value="darkblue">Dark Blue</option>
    <option value="darkorchid">Dark Orchid</option>
    <option value="mistyrose">Misty Rose</option>
    <option value="white">White</option>
    <option value="teal">Teal</option>
    <option value="turquoise">Turquoise</option>
    <option value="silver">Silver</option>
    <option value="springgreen">Spring Green</option>
    <option value="lightcoral">Light Coral</option>
    <option value="hotpink">Hot Pink</option>
    <option value="grey">Grey</option>
    <option value="biege">Biege</option>
    <option value="aquamarine">Aquamarine</option>
    <option value="azure">Azure</option>
    <option value="darkolivegreen">Dark Olive Green</option>
     <option value="red">Red</option>
     <option value="blue">Blue</option>
     <option value="brown">Brown</option>
     <option value="black">Black</option>
     <option value="green">Green</option>
     <option value="pink">Pink</option>
     <option value="yellow">Yellow</option>
     <option value="gold">Gold</option>
     <option value="sienna">Sienna</option>
     <option value="tan">Tan</option>
     <option value="tomato">Tomato</option>
 </select>
 <br><br>

 <!--
 <label for="fontColorHeaderName">Header Name Font Color</label>
 <select name="fontColorHeaderName" id="fontColorHeaderName">
    <option value="select">Select</option>
    <option value="blueviolet">Blue Violet</option>
    <option value="darkcyan">Dark Cyan</option>
    <option value="cadetblue">Cadet Blue</option>
    <option value="cyan">Cyan</option>
    <option value="darkblue">Dark Blue</option>
    <option value="darkorchid">Dark Orchid</option>
    <option value="mistyrose">Misty Rose</option>
    <option value="white">White</option>
    <option value="teal">Teal</option>
    <option value="turquoise">Turquoise</option>
    <option value="silver">Silver</option>
    <option value="springgreen">Spring Green</option>
    <option value="lightcoral">Light Coral</option>
    <option value="hotpink">Hot Pink</option>
    <option value="grey">Grey</option>
    <option value="biege">Biege</option>
    <option value="aquamarine">Aquamarine</option>
    <option value="azure">Azure</option>
    <option value="darkolivegreen">Dark Olive Green</option>
     <option value="red">Red</option>
     <option value="blue">Blue</option>
     <option value="brown">Brown</option>
     <option value="black">Black</option>
     <option value="green">Green</option>
     <option value="pink">Pink</option>
     <option value="yellow">Yellow</option>
     <option value="gold">Gold</option>
     <option value="sienna">Sienna</option>
     <option value="tan">Tan</option>
     <option value="tomato">Tomato</option>
 </select>

 
 <label for="fontColorHeaderContact">Header Contact Font Color</label>
 <select name="fontColorHeaderContact" id="fontColorHeaderContact">
    <option value="select">Select</option>
    <option value="blueviolet">Blue Violet</option>
    <option value="darkcyan">Dark Cyan</option>
    <option value="cadetblue">Cadet Blue</option>
    <option value="cyan">Cyan</option>
    <option value="darkblue">Dark Blue</option>
    <option value="darkorchid">Dark Orchid</option>
    <option value="mistyrose">Misty Rose</option>
    <option value="white">White</option>
    <option value="teal">Teal</option>
    <option value="turquoise">Turquoise</option>
    <option value="silver">Silver</option>
    <option value="springgreen">Spring Green</option>
    <option value="lightcoral">Light Coral</option>
    <option value="hotpink">Hot Pink</option>
    <option value="grey">Grey</option>
    <option value="biege">Biege</option>
    <option value="aquamarine">Aquamarine</option>
    <option value="azure">Azure</option>
    <option value="darkolivegreen">Dark Olive Green</option>
     <option value="red">Red</option>
     <option value="blue">Blue</option>
     <option value="brown">Brown</option>
     <option value="black">Black</option>
     <option value="green">Green</option>
     <option value="pink">Pink</option>
     <option value="yellow">Yellow</option>
     <option value="gold">Gold</option>
     <option value="sienna">Sienna</option>
     <option value="tan">Tan</option>
     <option value="tomato">Tomato</option>
 </select>
 <br><br>
-->

 
 
 <label for="backgroundColor">Background Color</label>
 <select name="backgroundColor" id="backgroundColor">
    <option value="select">Select</option>
    <option value="blueviolet">Blue Violet</option>
    <option value="darkcyan">Dark Cyan</option>
    <option value="cadetblue">Cadet Blue</option>
    <option value="cyan">Cyan</option>
    <option value="darkblue">Dark Blue</option>
    <option value="darkorchid">Dark Orchid</option>
    <option value="mistyrose">Misty Rose</option>
    <option value="white">White</option>
    <option value="teal">Teal</option>
    <option value="turquoise">Turquoise</option>
    <option value="silver">Silver</option>
    <option value="springgreen">Spring Green</option>
    <option value="lightcoral">Light Coral</option>
    <option value="hotpink">Hot Pink</option>
    <option value="grey">Grey</option>
    <option value="biege">Biege</option>
    <option value="aquamarine">Aquamarine</option>
    <option value="azure">Azure</option>
    <option value="darkolivegreen">Dark Olive Green</option>
     <option value="red">Red</option>
     <option value="blue">Blue</option>
     <option value="brown">Brown</option>
     <option value="black">Black</option>
     <option value="green">Green</option>
     <option value="pink">Pink</option>
     <option value="yellow">Yellow</option>
     <option value="gold">Gold</option>
     <option value="sienna">Sienna</option>
     <option value="tan">Tan</option>
     <option value="tomato">Tomato</option>
 </select>

 
 <br><br>
 
 <input type="submit" value="Apply" onClick="op()" id="apply-btn">
 <br><br>
 </div>
 <br><br>



<!--HTML for cv-template-->
  <div class="container" id="cv-template">
    
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="title text-center">
          <img
          src="static/skins/mountains.jpeg"
          alt="dhoni"
          class="img-fluid myimg" 
    id="imgT">
    <div id="contact-details"></div>
		  <h2 id="nameT1" class="text-center" >{{dictt['name']}}</h2>
		  <span  class="text-center"id="emailT">{{dictt['email']}}</span> <br>
		  <span class="text-center"id="number">{{dictt['contact']}}</span><br>
    </div>
   <span class="text-center" id="gitT"><a id="gitT" href="{{dictt['github']}}">{{dictt['github']}}</a></span> <br>
   <span class="text-center" id="gitT"><a id="linkedT" href="{{dictt['linkedin']}}">{{dictt['linkedin']}}</a></span>
          <hr>
        </div>
        
        <!-- summary section -->
        <div class="summary">
          <h2 class="head text-center" name="heading">Summary</h2>
          <p class="text-center" id="objT">
			      {{dictt['obj']}}
		  </p>
          
          <div class="row">
            <div class="col-sm-7">
              <p name="heading"><u>Technical Skills</u></p>
			    <p id="tsT">
					{% set list1 = dictt['techskills'].split(';') %}
					{% for list in list1 %}
					<li>{{ list }}</li>
					{% endfor %}
				</p>
            </div>
            <div class="col-sm-5 ">
              <p name="heading"><u>Softskills</u></p>
				<p id="tsT">
					{% set list1 = dictt['softskills'].split(';') %}
                            {% for list in list1 %}
                            <li>{{ list }}</li>
                            {% endfor %}
				</p>
            </div>
          </div>
          
        </div>
			<div>
				  <h3 class="head text-center" name="heading">Academic Qualification</h3>
				  <p id="aqT">
					{% set list1 = dictt['aqual'].split(';') %}
                            {% for list in list1 %}
                            <li>{{ list }}</li>
                            {% endfor %}
				  </p>
				  <h3 class="head text-center" name="heading">Work Experience</h3>
				  <p id="weT">
					{% set list1 = dictt['workexp'].split(';') %}
						{% for list in list1 %}
						<li>{{ list }}</li>
						{% endfor %}
				  </p>
				  <h3 class="head text-center" name="heading">Projects</h3>
				  <p id="pjT">
					{% set list1 = dictt['projects'].split(';') %}
					{% for list in list1 %}
					<li>{{ list }}</li>
					{% endfor %}
				  </p>
			</div>

        </div>
		

		
      </div>
    
  </div>
 
  <br><br>

</body>
</html>
{% endblock %}